<div class="dashboard">

  
  <header class="header">

    <div class="logo-section">
      <div class="logo">🏫</div>
      <h2>Instituto Tecnológico de Frontera Comalapa</h2>
    </div>

    <div class="usuario">
      Hola {{ usuarioNombre }}
    </div>

    <button class="logout" (click)="logout()">
      Cerrar sesión
    </button>

  </header>

  
  <section class="stats">

    <div class="stat-card">
      <h1>{{ pendientes }}</h1>
      <p>Pendientes</p>
    </div>

    <div class="stat-card">
      <h1>{{ enProceso }}</h1>
      <p>En proceso</p>
    </div>

    <div class="stat-card">
      <h1>{{ realizados }}</h1>
      <p>Realizados</p>
    </div>

  </section>

  
  <section class="tabla-container">

    <h3>Bandeja de solicitudes</h3>

    <table>

      <thead>
        <tr>
          <th>Documento</th>
          <th>Motivo</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>

      <tbody>

        <tr *ngFor="let s of solicitudes">

          <td>{{ s.tipo_documento }}</td>
          <td>{{ s.motivo }}</td>

          <td>
            <span class="estado" [ngClass]="s.estado">
              {{ s.estado }}
            </span>
          </td>

          <td>

            <button (click)="verDetalle(s)">
              Ver detalle
            </button>

            <select
              [value]="s.estado"
              (change)="cambiarEstado(s.id, $event)"
            >
              <option value="pendiente">Pendiente</option>
              <option value="proceso">En proceso</option>
              <option value="realizado">Realizado</option>
            </select>

          </td>

        </tr>

      </tbody>

    </table>

  </section>


  <section class="detalle" *ngIf="solicitudSeleccionada">

    <h3>📄 Detalle de solicitud</h3>

    <p>
      <strong>Documento:</strong>
      {{ solicitudSeleccionada.tipo_documento }}
    </p>

    <p>
      <strong>Motivo:</strong>
      {{ solicitudSeleccionada.motivo }}
    </p>

    <hr>

    <h4>📎 Requisitos y archivos</h4>

    <div *ngFor="let r of requisitosFiltrados" class="requisito-box">

      <p>✔ {{ r.requisito }}</p>

      
      <a *ngIf="r.archivoUrl"
         [href]="r.archivoUrl"
         target="_blank"
         class="btn-download">
        📥 Descargar archivo
      </a>

   
      <span *ngIf="!r.archivoUrl" class="no-file">
        ❌ Sin archivo
      </span>

    </div>

  </section>

</div>