.header {
  background: #0d3b66;
  color: white;
  padding: 15px;
  text-align: center;
  font-weight: bold;
}

.container {
  text-align: center;
  margin-top: 40px;
}


.doc-img {
  width: 120px;
  margin: 20px auto;
  display: block;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 30px;
}


.card {
  width: 180px;
  padding: 20px;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}


.card:hover {
  transform: scale(1.05);
}


.admin {
  background: gray;
  color: white;
}


.alumno {
  background: #3a5bdc;
  color: white;
}